/.idea
/DS_Store
/.DS_Store
/vscode
/.vscode

/schematic-fast/package-lock.json
/schematic-fast/.idea
/schematic-fast/node_modules
/schematic-fast/DS_Store
/schematic-fast/.DS_Store
/schematic-fast/vscode
/schematic-fast/.vscode

/fast-utils/package-lock.json
/fast-utils/.idea
/fast-utils/node_modules
/fast-utils/DS_Store
/fast-utils/.DS_Store
/fast-utils/vscode
/fast-utils/.vscode

/fast-devkit-core/package-lock.json
/fast-devkit-core/.idea
/fast-devkit-core/node_modules
/fast-devkit-core/DS_Store
/fast-devkit-core/.DS_Store
/fast-devkit-core/vscode
/fast-devkit-core/.vscode
/fast-devkit-core/app-template/package-lock.json
/fast-devkit-core/app-template/.idea
/fast-devkit-core/app-template/node_modules
/fast-devkit-core/app-template/DS_Store
/fast-devkit-core/app-template/.DS_Store
/fast-devkit-core/app-template/vscode
/fast-devkit-core/app-template/.vscode

/fast-cli/package-lock.json
/fast-cli/.idea
/fast-cli/node_modules
/fast-cli/DS_Store
/fast-cli/.DS_Store
/fast-cli/vscode
/fast-cli/.vscode

